{
    "port": "8080",
    "log_level": "info",
    "log_components": [
        "requests",
        "response",
        "checks"
    ],
    "log_format": "color",
    "default_interval": "10m",
    "default_timeout": "5s",
    "ssl_enabled": false,
    "cert_path": "server.crt",
    "key_path": "server.key",
    "ssl_cert_domains": ["localhost"],
    "master_keys": [
        "CHANGE-ME-MASTER-KEY-1"
    ],
    "normal_keys": [],
    "predefined_hosts": [
        "127.0.0.1:22"
    ],
    "hosts": [
        {
            "host": "private-server.com:22",
            "interval": "1m",
            "timeout": "2s",
            "public": false
        },
        {
            "host": "public-server.com",
            "public": true
        }
    ],
    "ip_whitelist": [
        "127.0.0.1/32",
        "127.0.1.1/32"
    ]
}
